<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nap OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Nap iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NapTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03861F691AC67BF90017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861F741AC67BF90017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861F8D1AC67F570017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861F971AC67F570017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861FAD1AC680CA0017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861FC31AC680CA0017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861FD51AC680E30017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03861FEB1AC680E30017A9D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A551DB1AE3509D00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A551ED1AE350E300DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A551FC1AE3513E00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A552101AE3513E00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A552221AE351D300DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A552361AE351D400DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A552481AE3520A00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A5525C1AE352BC00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A552701AE352BD00DB71EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
